click
colorama
cycler
et-xmlfile
Flask
html5lib
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
loguru
MarkupSafe
matplotlib
mechanize
numpy
openpyxl
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
six
sklearn
threadpoolctl
torch
torchvision
typing-extensions
webencodings
Werkzeug
win32-setctime
xlwt
zipp
